@import 'src/styles/variables'


.tag
  margin-bottom: 8px

.horizontal
  display: flex
  flex-direction: row

.vertical
  display: flex
  flex-direction: column

.space_between
  justify-content: space-between

.tag_amount_text
  font-family: inherit
  font-size: 1.07em
  font-weight: 600
  color: $black
  cursor: pointer