@import 'src/styles/variables'

.main_row
  display: flex
  flex-direction: row
  height: 100%
  width: 100vw
  padding: $indent $indent 5rem $indent
  

@media (max-width: 768px)
  .main_row
    display: flex
    flex-direction: column
    height: 100%


