@import 'src/styles/variables'

.horizontal
  display: flex
  flex-direction: row

.vertical
  display: flex
  flex-direction: column

.top_container
  justify-content: space-between
  align-items: center
  margin-bottom: 0.3rem

.title_text
  font-family: inherit
  font-size: 1.2em
  font-weight: 400
  color: $black
  margin-bottom: 3px
  cursor: pointer

.button_reset
  font-family: inherit
  font-size: 1.15em
  font-weight: 400
  color: $white
  background-color: $heliotrope
  padding: 5px 20px
  border-radius: 15px
  margin-bottom: 4px
  cursor: pointer
  border-width: 0

.button_reset:hover
  opacity: 0.7

.tags_border
  padding-left: 15px
  padding-right: 15px
  padding-bottom: 0.5rem
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.283) 0px 0px 0px 1px
  border-radius: 0.3rem

.search
  font-size: 1.1em!important
  width: 100%
  margin-top: 0.6rem
  margin-bottom: 1.3rem
  input
    border: none!important
    border-bottom: 0.1rem solid $heliotrope-light!important
    border-radius: 0!important
    padding-bottom: 0.45rem!important
    padding-right: 0.2rem!important
    padding-left: 0.2rem!important
