$heliotrope: #a869f9
$heliotrope-light: #B1A8B9
$heliotrope-light-1: #f2eff5
$blue-light: #ebf3f7
$caribbean-green: #0ccc84
$dodger-blue-light: #b7e0f0
$dodger-blue: #1cbcfc
$dodger-blue-dark: #26ade3
$bittersweet: #fb7464
$pomegranate: #f44c1c
$shamrock: #59dcaa
$rose-bud: #faaca2
$clam-shell: #cca6ac
$vivid-tangerine: #fc9c81
$orange: #FFCC5A
$yellow: #F9F871
$yellow-light: #fbfbc8
$dark-blue: #247BA0
$black: #0B132A
$white: white

$indent: 2rem
$header-height: 5rem
$footer-height: 4rem

$grey-2: #f3f5f7
$grey-1: #f6f1eb
$grey0: #e0dbd2
$grey01: #a1a19f
$grey1: #545c5c
$grey2: #54545b
$grey-medium-dark: #716C6C
